{% extends 'base.html' %} 
{% block breadcrumb %}
     {%include 'orders/snippets/breadcrumb.html'%}
{% endblock %}

{% block content %}
 <div class="col">
    <div class="h3">
        Método de pago
    </div>

    <div class="">
        <!-- {% for order in object_list %}
            {% include 'orders/snippets/order.html' %}
        {% endfor %} -->
        {% include 'billing_profiles/snippets/billing_profile.html' %}
    </div>

    <div class="mt-2">
        <a href="{% url 'orders:confirm-view' %}" class="btn btn-warning">Confirmar</a>
    </div>
 </div>

{% endblock %}