<form action="{% url 'carts:add-view' %}" method="post">
    {% csrf_token %}
    <div class="">
        <button type="button" class="btn btn-info d-inline" id="btnRemove">-</button>
        <input type="number" name="" value="1" id="inpQuantity" name="inpQuantity" class="form-control col-sm-1 d-inline" readonly>
        <button type="button" class="btn btn-info" id="btnAdd">+</button>
    </div>
    <input type="hidden" name="product_id" value="{{ product.id }}">
    
    <div class="mt-2">
        <button type="submit" class="btn btn-warning" name="button">Agregar al carrito</button>
    </div>
    
</form>

<script>
    const add = document.getElementById('btnAdd')
    const remove = document.getElementById('btnRemove')
    const quantity = document.getElementById('inpQuantity')

    add.addEventListener('click', function(){
        quantity.value = parseInt(quantity.value) + 1
    })

    remove.addEventListener('click', function(){
       value = parseInt(quantity.value)

       if(value != 1){
        value = value - 1
       }

       quantity.value = value
    })
</script>